<section id="details">
    <div id="details-wrapper">
      <img id="details-img" src="./images/large_deniroparty_marquee.jpg" alt="example1" />
      <p id="details-title">{{curEvent.name}}</p>
      <p id="details-category">
        Category: <span id="categories">{{curEvent.category}}</span>
      </p>
      <p id="details-date">
        Date:<span id="date">{{curEvent.date}}</span></p>
      <div id="info-wrapper">
        <div id="details-description">
          <span
            >{{curEvent.description}}</span>
        </div>

      </div>

      <h3>Going: <span id="go">0</span> times.</h3>

      <!--Edit and Delete are only for creator-->
      <div id="action-buttons">
        <a href="" id="edit-btn">Edit</a>
        <a href="" id="delete-btn">Delete</a>

        <!--Bonus - Only for logged-in users ( not authors )-->
        <a href="" id="go-btn">Going</a>
      </div>
    </div>
  </section>
