header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    margin-top: 0px;
    background-color: #c35d70dd;
  
  }

  #logo-img {
    height: 50px;
    margin-top: 15px;
  
  }

  nav {
    height: 80px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    
  }

  nav a {
    font-size: 1.6rem;
    color: #300abaf4;
    text-shadow: 2px 1px #e1a5b0;
    margin-left: 10px;
  }
  
  header a {
    padding: 0 10px;
    text-decoration: none;
  }
  nav a:hover {
    color: #FED172;
    text-shadow: 2px 2px #300abaf4;
  
    border-bottom: 2px solid #300abaf4;
  
  }