<section id="home">
    <div class="home-intro">
      <h1 class="fancy">Welcome to Eventure – Where Your Next Adventure Begins!</h1>
         
         <p>At Eventure, we’re more than just an events platform; we’re a vibrant community united by a love for discovery, connection, and unforgettable experiences. Whether you're seeking the latest concerts, family-friendly festivals, educational workshops, or hidden gems in your neighborhood, Eventure is your go-to destination.</p>

         <p>We believe the best events are powered by people, which is why Eventure thrives on community-driven contributions. Here, you can uncover incredible happenings tailored to your interests, share your own events, and connect with others who share your passions. It’s more than finding events – it’s about building a community around them.</p>

         <p>So why wait? Dive into the world of Eventure today. Whether you’re an event enthusiast or an organizer looking to reach your audience, this is your stage. Start exploring, sharing, and experiencing the best of what’s happening near you. Your next adventure is just a click away!</p>
           <a class="event-btn" routerLink="/events">To Events</a>       
    </div>
    <img class="party-img" src="https://images.unsplash.com/photo-1528605248644-14dd04022da1?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="event">
  </section>
